<div class="jumbotron text-center">
  <h1>BridgeNET</h1>
  <p class="lead">Welcome to the Social Media Application by <strong>CG Works</strong></p>
  <div>
    <a *ngIf="!authService.loggedIn()" routerLink="/register" class="btn btn-primary">Register</a>
    <a *ngIf="!authService.loggedIn()" routerLink="/login" class="btn btn-default">Login</a>
    <a *ngIf="authService.loggedIn()" routerLink="/blog" class="btn btn-success">Upload Applicants (CSV File)</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://image.flaticon.com/icons/svg/201/201634.svg" alt="placeholder image" width="140" height="140">
      <div class="caption">
        <h3>Charlotte Faye</h3>
        <p>Galarpe</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/201/201634.svg" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>Bernadine</h3>
        <p>Juliano</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/236/236832.svg" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>Francis Kyle</h3>
        <p>Sumbang</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/326/326003.svg" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>Connect</h3>
        <p>with your friends</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/326/326020.svg" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>Post</h3>
        <p>your thoughts</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/187/187470.svg" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>Join Us!</h3>
        <p>Sign up today</p>
      </div>
    </div>
  </div>

</div>